requests_oauthlib
markdown>=3.2
click
click-plugins
click-config-file
pytest
pytest-cov
pyflakes
mkdocs>=1.2.2
mkdocs-material
mkdocs-material-extensions>=1.0
mkdocstrings
mkdocs-click
Pygments>=2.4
pymdown-extensions>=9.0
mkdocs-autolinks-plugin
mkdocs-jupyter
mkdocs-exclude
mkdocs-exclude-search
mkdocs-macros-plugin
mkdocs-print-site-plugin
mkdocs-pdf-export-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-windmill
mkdocs-img2fig-plugin
mkdocs-rss-plugin==0.13.0
pillow cairosvg