.example-post {
  position: relative;
  padding: 0;
  color: #7f8b90;
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
}
.example-post p {
  font-size: 18px;
  line-height: 1.5;
}
.example-post a {
  color: #607d8b;
}
.example-post:before {
  content: "";
  display: block;
  background: linear-gradient(
    to right top,
    #cddc39 0%,
    #03a9f4 50%,
    #e6f0f5 50%
  );
  height: calc(100% - 100vh + 6px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.example-post:after {
  content: "";
  display: block;
  background: #e6f0f5;
  height: calc(100vh - 6px);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
}
code {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 14px;
}
.entry-content {
  max-width: 790px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-bottom: calc(-100vh + 6px);
  padding: 0 15px;
}

/* demo stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #e6f0f5;
  padding-top: 40px;
  padding-bottom: 50px;
  margin: 0;
}
html,
button,
input,
select,
textarea {
  font-family: "Nunito", sans-serif;
  color: #92a4ad;
}
h1 {
  text-align: center;
  margin: 30px 15px;
  font-size: 40px;
}
.zoom-area {
  max-width: 650px;
  margin: 50px auto 70px;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  padding: 10px 5px 0;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
  border-bottom: 6px solid #92a4ad;
}
