.example-post {
  position: relative;
  padding: 0;
  color: #fff;
/*  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;*/
}
.example-post p {
  font-size: 18px;
  line-height: 1.5;
}
.example-post a {
  color: #607d8b;
}
.example-post:before {
  content: "";
  display: block;
  background: linear-gradient(
    to right top,
    #9dda77 0%,
    #589632 50%,
   #ee7313 50% );
  height: calc(100% - 100vh + 6px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.example-post:after {
  content: "";
  display: block;
  background: #e6f0f5;
  height: calc(100vh - 6px);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
}
code {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 14px;
}
.entry-content {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-bottom: calc(-100vh + 6px);
  padding: 0 15px;
}
