  <!-- div per popup --> 

 <div class="flythat" data-autoOpen="true" data-autoClose="10000" id="modal-image">
        <div align="center"><a href="#close" class="close flythat-close">&times;</a>
          <a href="contributing/"><img src="{{ config.site_url}}stylesheets/popup/popup.png" title="Benvenuta/o in HfcQGIS: il progetto è sempre aggiornato e ricco di esempi svolti, se #HfcQGIS ti è stato utile, valuta la possibilità di contribuire leggendo la sezione Sostieni.." alt="#ods20"  width="1000" height="641" /></a><br>
         <h5 class="service_title"><a href="contributing/" title="Supporter" target="_parent">Sostieni </a></h5>
		  </div>
</div> 